>__1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.__

In [1]:
test1 = "This is a test of the emergency text system,"
file = open('test.txt', 'w')
file.write(test1)
file.close()

>__2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?__

In [2]:
f = open('test.txt','r')
test2 = f.read()
test2

'This is a test of the emergency text system,'

No, there is no difference between test1 and test2

>__3. Create a CSV file called books.csv by using these lines:__

&emsp;&emsp;title,author,year <br>
&emsp;&emsp;The Weirdstone of Brisingamen,Alan Garner,1960 <br>
&emsp;&emsp;Perdido Street Station,China Miéville,2000  <br>
&emsp;&emsp;Thud!,Terry Pratchett,2005 <br>
&emsp;&emsp;The Spellman Files,Lisa Lutz,2007  <br>
&emsp;&emsp;Small Gods,Terry Pratchett,1992  <br>

In [3]:
import csv

fields = ['title','author','year']
rows = [ ['The Weirdstone of Brisingamen','Alan Garner',1960],
         ['Perdido Street Station','China Miéville',2000],
         ['Thud!','Terry Pratchett',2005],
         ['The Spellman Files','Lisa Lutz',2007],
         ['Small Gods','Terry Pratchett',1992] ]

filename='books.csv'

with open(filename, 'w') as csvfile: 
    csvwriter = csv.writer(csvfile) 
    csvwriter.writerow(fields) 
    csvwriter.writerows(rows)

In [6]:
open('books.csv','r').read()

'title,author,year\n\nThe Weirdstone of Brisingamen,Alan Garner,1960\n\nPerdido Street Station,China Miéville,2000\n\nThud!,Terry Pratchett,2005\n\nThe Spellman Files,Lisa Lutz,2007\n\nSmall Gods,Terry Pratchett,1992\n\n'

>__4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).__

In [ ]:
import sqlite3

db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute('''CREATE TABLE books(title TEXT, author TEXT, year INT)''')
db.commit()

>__5. Read books.csv and insert its data into the book table.__

In [ ]:
open('books.csv','r').read()

In [ ]:
db.execute("INSERT INTO books (TITLE,AUTHOR,YEAR) \
        VALUES ('The Weirdstone of Brisingamen','Alan Garner',1960)");
db.execute("INSERT INTO books (TITLE,AUTHOR,YEAR) \
        VALUES ('Perdido Street Station','China Miéville',2000)");
db.execute("INSERT INTO books (TITLE,AUTHOR,YEAR) \
        VALUES ('Thud!','Terry Pratchett',2005)");
db.execute("INSERT INTO books (TITLE,AUTHOR,YEAR) \
        VALUES ('The Spellman Files','Lisa Lutz',2007)");
db.execute("INSERT INTO books (TITLE,AUTHOR,YEAR) \
        VALUES ('Small Gods','Terry Pratchett',1992)");


db.commit()

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

In [7]:
cur = db.execute("SELECT * from books")

In [8]:
for i in cur :
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

>__6. Select and print the title column from the book table in alphabetical order.__

In [5]:
data = cursor.execute('''SELECT title FROM books ORDER BY title ASC''')
for i in data:
    print (i)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

>__7. From the book table, select and print all columns in the order of publication.__

In [4]:
table_data = cursor.execute('''SELECT * FROM books ORDER BY year ASC''')
for i in table_data:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

>__8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.__

In [1]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from books order by title asc'
rows = conn.execute(sql)
for row in rows:
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

>__9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.__

In [11]:
!pip install redis

Collecting redis
  Downloading redis-4.1.3-py3-none-any.whl (173 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\admin\anaconda3\lib\site-packages (from redis) (20.9)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\admin\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\admin\anaconda3\lib\site-packages (from packaging>=20.4->redis) (2.4.7)
Installing collected packages: deprecated, redis
Successfully installed deprecated-1.2.13 redis-4.1.3

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'}) 
conn.hgetall('test')

>__10. Increment the count field of test and print it.__

In [ ]:
conn.hincrby('test', 'count', 3)
conn.hget('test', 'count')